.newUser {
    flex: 5;
    padding-left: 10rem;
    padding-top: 4rem;
  }
  
  .newUserForm {
    display: auto;
    flex-wrap: wrap;
  }
  
  .newUserItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .newUserItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
  }
  
  .newUserItem > input {
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .newUserRole > input {
    margin-top: 15px;
  }
  
  .newUserRole>label{
      margin: 10px;
      font-size: 18px;
      color: #555;
  }
  
  .newUserSelect{
      height: 40px;
      border-radius: 5px;
  }
  
  .newUserButton{
      width: 200px;
      border: none;
      background-color: darkblue;
      color: white;
      padding: 7px 10px;
      font-weight: 600;
      border-radius: 10px;
      margin-top: 30px;
      cursor: pointer;
  }